.button-fire {
  background: linear-gradient(135deg, rgb(255, 87, 34) 0%, rgb(255, 153, 0) 50%, rgb(255, 234, 0) 100%);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, border-color 0.3s ease;
  width: 100%;
}

.button-fire:hover {
  background: linear-gradient(135deg, rgb(255, 234, 0) 0%, rgb(255, 153, 0) 50%, rgb(255, 87, 34) 100%);
}

.button-fire.light {
  background: linear-gradient(135deg, rgb(190, 49, 6) 0%, rgb(192, 120, 11) 50%, rgb(119, 109, 4) 100%);
  box-shadow: 0 4px 6px rgba(55, 0, 0, 0.5);
}

.button-fire.light:hover {
  background: linear-gradient(135deg, rgb(255, 234, 0) 0%, rgb(255, 153, 0) 50%, rgb(255, 87, 34) 100%);
  border-color: rgba(0, 0, 0, 0.5);
}
