.typographyStyle {
  font-weight: 900; /* Valor mais alto para fonte mais grossa */
  -webkit-text-stroke: 1px rgba(31, 30, 30, 0.2); 
  background: linear-gradient(135deg, rgb(255, 87, 34) 0%, rgb(255, 153, 0) 50%, rgb(238, 218, 5) 100%); 
  background-clip: text;
  color: transparent;
  text-align: center;
  background-position: top center;
}